Repository motech-development/microservices, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, packages, services

.github/labeler.yml:

repo:
  - ./*

packages:
  - packages/**

services:
  - services/**

chore(deps): update dependency source-map-support to v0.5.21
  services/users/package.json
  yarn.lock
Labels: repo, services

chore(deps): update dependency rollup to v2.70.1
  packages/bootstrap/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/pagination/package.json
  packages/prisma/package.json
  yarn.lock
Labels: repo, packages

chore(deps): update dependency rollup to v2.70.1
  packages/bootstrap/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/pagination/package.json
  packages/prisma/package.json
  yarn.lock
Labels: repo, packages

fix(deps): update dependency class-validator to v0.13.2
  services/users/package.json
  yarn.lock
Labels: repo, services

fix(deps): update dependency class-validator to v0.13.2
  services/users/package.json
  yarn.lock
Labels: repo, services

chore(deps): update jest monorepo
  packages/bootstrap/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/pagination/package.json
  packages/prisma/package.json
  services/users/package.json
  yarn.lock
Labels: repo, packages, services

chore(deps): update jest monorepo
  packages/bootstrap/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/pagination/package.json
  packages/prisma/package.json
  services/users/package.json
  yarn.lock
Labels: repo, packages, services

chore(deps): update yarn to v3.2.0
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: repo

chore(deps): update yarn to v3.2.0
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-3.2.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: repo

fix(deps): update dependency amqp-connection-manager to v3.9.0
  services/users/package.json
  yarn.lock
Labels: repo, services

fix(deps): update dependency amqp-connection-manager to v3.9.0
  services/users/package.json
  yarn.lock
Labels: repo, services

fix(deps): update dependency class-transformer to v0.5.1
  services/users/package.json
  yarn.lock
Labels: repo, services

fix(deps): update dependency class-transformer to v0.5.1
  services/users/package.json
  yarn.lock
Labels: repo, services

fix(deps): update dependency eslint-config-prettier to v8.5.0
  packages/eslint-config-motech-base/package.json
  yarn.lock
Labels: repo, packages

fix(deps): update dependency eslint-config-prettier to v8.5.0
  packages/eslint-config-motech-base/package.json
  yarn.lock
Labels: repo, packages

fix(deps): update dependency rxjs to v7.5.5
  packages/bootstrap/package.json
  packages/logger/package.json
  services/users/package.json
  yarn.lock
Labels: repo, packages, services

Notes added by 'git notes add'
  a062af468d6a0104f64415a0331338bf8932c671
Labels: repo

fix(deps): update dependency rxjs to v7.5.5
  packages/bootstrap/package.json
  packages/logger/package.json
  services/users/package.json
  yarn.lock
Labels: repo, packages, services

Notes added by 'git notes add'
  0f3278d41c3c83e6cd95a2f5fb6b5b1a5f7bd098
Labels: repo

chore(deps): update actions/checkout action
  .github/workflows/codeql-analysis.yml
  .github/workflows/ossar-analysis.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: none

chore(deps): update actions/checkout action
  .github/workflows/codeql-analysis.yml
  .github/workflows/ossar-analysis.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: none

chore(deps): update nest monorepo
  packages/logger/package.json
  packages/pagination/package.json
  packages/prisma/package.json
  services/users/package.json
  yarn.lock
Labels: repo, packages, services

chore(deps): update nest monorepo
  packages/logger/package.json
  packages/pagination/package.json
  packages/prisma/package.json
  services/users/package.json
  yarn.lock
Labels: repo, packages, services

chore(deps): update dependency lint-staged to v12
  packages/bootstrap/package.json
  packages/eslint-config-motech-base/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/pagination/package.json
  packages/prisma/package.json
  services/users/package.json
  yarn.lock
Labels: repo, packages, services

chore(deps): update actions/checkout action to v3.0.2
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: none

chore(deps): update actions/checkout action to v3.0.2
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: none

Notes added by 'git notes add'
  14983be740d868b716051775d9ebdbbdc1526d3f
Labels: repo
