Repository motech-development/microservices, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, packages, services

.github/labeler.yml:

repo:
  - ./*

packages:
  - packages/**

services:
  - services/**

ci: add codeql workflow
  .github/workflows/codeql-analysis.yml
Labels: none

chore(deps): update dependency @yarnpkg/pnpify to v3.1.0
  package.json
  yarn.lock
Labels: repo

ci: add ossar analysis workflow
  .github/workflows/ossar-analysis.yml
Labels: none

ci: test workflow
  .github/workflows/test.yml
Labels: none

ci: fix runs on setting
  .github/workflows/test.yml
Labels: none

chore: add test ci script
  .github/workflows/test.yml
  package.json
  packages/messages/package.json
  packages/pagination/package.json
  packages/prisma/package.json
  yarn.lock
Labels: repo, packages

chore: rejig dependencies
  package.json
  packages/messages/package.json
  packages/pagination/package.json
  packages/prisma/package.json
  packages/prisma/prisma/schema.prisma
  services/users/package.json
  yarn.lock
Labels: repo, packages, services

ci: fix prisma test run
  packages/prisma/package.json
Labels: packages

ci: fix service name
  .github/workflows/test.yml
Labels: none

chore: rejig dependencies
  package.json
  packages/messages/package.json
  packages/pagination/package.json
  packages/prisma/package.json
  packages/prisma/prisma/schema.prisma
  services/users/package.json
  yarn.lock
Labels: repo, packages, services

ci: fix runs on setting
  .github/workflows/test.yml
Labels: none

ci: fix prisma test run
  packages/prisma/package.json
Labels: packages

ci: test workflow
  .github/workflows/test.yml
Labels: none

ci: fix service name
  .github/workflows/test.yml
Labels: none

chore: add test ci script
  .github/workflows/test.yml
  package.json
  packages/messages/package.json
  packages/pagination/package.json
  packages/prisma/package.json
  yarn.lock
Labels: repo, packages

feat: bootstrap package
  packages/bootstrap/babel.config.js
  packages/bootstrap/package.json
  packages/bootstrap/rollup.config.js
  packages/bootstrap/src/__tests__/bootstrap.test.ts
  packages/bootstrap/src/__tests__/run.test.ts
  packages/bootstrap/src/bootstrap.ts
  packages/bootstrap/src/index.ts
  packages/bootstrap/src/run.ts
  packages/bootstrap/tsconfig.build.json
Labels: packages

test: add logger tests
  .github/workflows/test.yml
  packages/logger/babel.config.js
  packages/logger/package.json
  packages/logger/rollup.config.js
  packages/logger/src/__tests__/logger.middleware.test.ts
  packages/logger/src/__tests__/logger.module.test.ts
  packages/logger/src/__tests__/logger.test.ts
  packages/logger/src/index.ts
  packages/logger/src/logger.middleware.ts
  packages/logger/src/logger.module.ts
  packages/logger/src/logger.ts
  packages/logger/tsconfig.build.json
  services/users/package.json
  services/users/src/api/api.module.ts
  services/users/src/main.ts
  yarn.lock
Labels: repo, packages, services

fix: add missing deps
  packages/logger/package.json
  yarn.lock
Labels: repo, packages

fix: test scripts
  packages/bootstrap/package.json
  packages/logger/package.json
Labels: packages

ci: add sonarscanner
  .github/workflows/test.yml
Labels: none

ci: fix syntax
  .github/workflows/test.yml
Labels: none

ci: fix syntax
  .github/workflows/test.yml
Labels: none

ci: fix syntax
  .github/workflows/test.yml
Labels: none

ci: find bash version
  .github/workflows/test.yml
Labels: none

ci: remove bash debug
  .github/workflows/test.yml
Labels: none

ci: new attempt to uppercase text
  .github/workflows/test.yml
Labels: none

ci: remove text transformation
  .github/workflows/test.yml
Labels: none

ci: add additional curly brace
  .github/workflows/test.yml
Labels: none

ci: try to make uppercase
  .github/workflows/test.yml
Labels: none

ci: add sonar project files
  packages/bootstrap/sonar-project.properties
  packages/logger/sonar-project.properties
  packages/messages/sonar-project.properties
  packages/pagination/sonar-project.properties
  packages/prisma/sonar-project.properties
  services/users/sonar-project.properties
Labels: packages, services

ci: set working directory
  .github/workflows/test.yml
Labels: none

ci: set working directory
  .github/workflows/test.yml
Labels: none

ci: update sonar conig
  .github/workflows/test.yml
  packages/bootstrap/sonar-project.properties
  packages/logger/sonar-project.properties
  packages/messages/sonar-project.properties
  packages/pagination/sonar-project.properties
  packages/prisma/sonar-project.properties
  services/users/sonar-project.properties
Labels: packages, services

test: update middleware tests
  packages/logger/src/__tests__/logger.middleware.test.ts
  packages/logger/src/logger.middleware.ts
Labels: packages

test: add logger tests
  .github/workflows/test.yml
  packages/logger/babel.config.js
  packages/logger/package.json
  packages/logger/rollup.config.js
  packages/logger/src/__tests__/logger.middleware.test.ts
  packages/logger/src/__tests__/logger.module.test.ts
  packages/logger/src/__tests__/logger.test.ts
  packages/logger/src/index.ts
  packages/logger/src/logger.middleware.ts
  packages/logger/src/logger.module.ts
  packages/logger/src/logger.ts
  packages/logger/tsconfig.build.json
  services/users/package.json
  services/users/src/api/api.module.ts
  services/users/src/main.ts
  yarn.lock
Labels: repo, packages, services

ci: set working directory
  .github/workflows/test.yml
Labels: none

ci: remove bash debug
  .github/workflows/test.yml
Labels: none

ci: add sonarscanner
  .github/workflows/test.yml
Labels: none

fix: test scripts
  packages/bootstrap/package.json
  packages/logger/package.json
Labels: packages

ci: add sonar project files
  packages/bootstrap/sonar-project.properties
  packages/logger/sonar-project.properties
  packages/messages/sonar-project.properties
  packages/pagination/sonar-project.properties
  packages/prisma/sonar-project.properties
  services/users/sonar-project.properties
Labels: packages, services
