Repository motech-development/microservices, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, packages, services

chore: add missing description
  services/users/package.json
Labels: services

docs: add README files to each package
  packages/bootstrap/README.md
  packages/eslint-config-motech-base/README.md
  packages/logger/README.md
  packages/messages/README.md
  packages/pagination/README.md
  packages/prisma/README.md
Labels: packages

chore: reinstate eslint at the root
  .eslintrc.json
  package.json
  yarn.lock
Labels: repo

chore: clear up deps
  package.json
  packages/bootstrap/package.json
  packages/eslint-config-motech-base/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/pagination/package.json
  packages/prisma/package.json
  services/users/package.json
  yarn.lock
Labels: repo, packages, services

chore: add missing description
  services/users/package.json
Labels: services

chore: clear up deps
  package.json
  packages/bootstrap/package.json
  packages/eslint-config-motech-base/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/pagination/package.json
  packages/prisma/package.json
  services/users/package.json
  yarn.lock
Labels: repo, packages, services

fix: add licenses
  LICENSE.md
  package.json
  packages/bootstrap/package.json
  packages/eslint-config-motech-base/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/pagination/package.json
  packages/prisma/package.json
  services/users/package.json
Labels: repo, packages, services

chore: add more information in package.jsons
  package.json
  packages/bootstrap/package.json
  packages/eslint-config-motech-base/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/pagination/package.json
  packages/prisma/package.json
  services/users/package.json
Labels: repo, packages, services

feat: shared eslint config
  packages/eslint-config-motech-base/.eslintrc.json
  packages/eslint-config-motech-base/.prettierrc.json
  packages/eslint-config-motech-base/index.js
  packages/eslint-config-motech-base/package.json
Labels: packages

ci: update pipeline syntax
  .github/workflows/test.yml
  packages/prisma/package.json
Labels: packages

chore: reinstate eslint at the root
  .eslintrc.json
  package.json
  yarn.lock
Labels: repo

docs: add README files to each package
  packages/bootstrap/README.md
  packages/eslint-config-motech-base/README.md
  packages/logger/README.md
  packages/messages/README.md
  packages/pagination/README.md
  packages/prisma/README.md
Labels: packages

ci: update pipeline names
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: none

chore: use shared eslint package
  .eslintrc.js
  .github/workflows/test.yml
  .husky/pre-commit
  package.json
  packages/bootstrap/.eslintrc.json
  packages/bootstrap/.prettierrc.json
  packages/bootstrap/package.json
  packages/logger/.eslintrc.json
  packages/logger/.prettierrc.json
  packages/logger/package.json
  packages/messages/.eslintrc.json
  packages/messages/.prettierrc.json
  packages/messages/package.json
  packages/pagination/.eslintrc.json
  packages/pagination/.prettierrc.json
  packages/pagination/package.json
  packages/prisma/.eslintrc.json
  packages/prisma/.prettierrc.json
  packages/prisma/package.json
  services/users/.eslintrc.json
  services/users/.prettierrc.json
  services/users/package.json
  tsconfig.eslint.json
  yarn.lock
Labels: repo, packages, services

ci: add release config
  packages/eslint-config-motech-base/.releaserc.json
Labels: packages

ci: add release config
  packages/eslint-config-motech-base/.releaserc.json
Labels: packages

Notes added by 'git notes add'
  80a28208f00b6d506e1984033228d8480f2a0868
Labels: repo

chore: update homepage urls
  packages/bootstrap/package.json
  packages/eslint-config-motech-base/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/pagination/package.json
  packages/prisma/package.json
Labels: packages

chore: update homepage urls
  packages/bootstrap/package.json
  packages/eslint-config-motech-base/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/pagination/package.json
  packages/prisma/package.json
Labels: packages

chore: update renovate config to auto merge
  renovate.json
Labels: repo

chore: update renovate config to auto merge
  renovate.json
Labels: repo

fix(deps): update dependency eslint-config-airbnb-typescript to v14.0.2
  packages/eslint-config-motech-base/package.json
  yarn.lock
Labels: repo, packages

fix(deps): update dependency eslint-config-airbnb-typescript to v14.0.2
  packages/eslint-config-motech-base/package.json
  yarn.lock
Labels: repo, packages

fix(deps): update dependency eslint-plugin-import to v2.25.4
  packages/eslint-config-motech-base/package.json
  yarn.lock
Labels: repo, packages

Notes added by 'git notes add'
  340a54ad030b6e746f535ce2b1ee84ca246a08e9
Labels: repo

fix(deps): update dependency eslint-plugin-import to v2.25.4
  packages/eslint-config-motech-base/package.json
  yarn.lock
Labels: repo, packages

Notes added by 'git notes add'
  59b7293ab20e5fb944465f5cce6a738414ba8f58
Labels: repo

chore(deps): update dependency typescript to v4.5.5
  package.json
  packages/bootstrap/package.json
  packages/eslint-config-motech-base/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/pagination/package.json
  packages/prisma/package.json
  services/users/package.json
  yarn.lock
Labels: repo, packages, services

chore(deps): update dependency typescript to v4.5.5
  package.json
  packages/bootstrap/package.json
  packages/eslint-config-motech-base/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/pagination/package.json
  packages/prisma/package.json
  services/users/package.json
  yarn.lock
Labels: repo, packages, services

fix(deps): update dependency eslint-plugin-jest to v25.7.0
  packages/eslint-config-motech-base/package.json
  yarn.lock
Labels: repo, packages

fix(deps): update dependency eslint-plugin-jest to v25.7.0
  packages/eslint-config-motech-base/package.json
  yarn.lock
Labels: repo, packages

chore(deps): update dependency @types/node to v14.18.12
  package.json
  yarn.lock
Labels: repo

Notes added by 'git notes add'
  2321c3d83df33027f17e03c0bb88da4487096ae9
Labels: repo

chore(deps): update dependency @types/node to v14.18.12
  package.json
  yarn.lock
Labels: repo

chore(deps): update dependency jest-marbles to v3.0.2
  packages/pagination/package.json
  yarn.lock
Labels: repo, packages

fix(deps): update dependency eslint-config-airbnb-typescript to v16
  packages/eslint-config-motech-base/package.json
  yarn.lock
Labels: repo, packages

chore(deps): update dependency jest-marbles to v3.0.2
  packages/pagination/package.json
  yarn.lock
Labels: repo, packages

chore(deps): update dependency @rollup/plugin-babel to v5.3.1
  packages/bootstrap/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/pagination/package.json
  packages/prisma/package.json
  yarn.lock
Labels: repo, packages

chore(deps): update dependency @rollup/plugin-babel to v5.3.1
  packages/bootstrap/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/pagination/package.json
  packages/prisma/package.json
  yarn.lock
Labels: repo, packages

chore(deps): update dependency source-map-support to v0.5.21
  services/users/package.json
  yarn.lock
Labels: repo, services

.github/labeler.yml:

repo:
  - ./*

packages:
  - packages/**

services:
  - services/**
