Repository motech-development/microservices, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, packages, services

ci: add additional curly brace
  .github/workflows/test.yml
Labels: none

ci: new attempt to uppercase text
  .github/workflows/test.yml
Labels: none

ci: fix syntax
  .github/workflows/test.yml
Labels: none

feat: bootstrap package
  packages/bootstrap/babel.config.js
  packages/bootstrap/package.json
  packages/bootstrap/rollup.config.js
  packages/bootstrap/src/__tests__/bootstrap.test.ts
  packages/bootstrap/src/__tests__/run.test.ts
  packages/bootstrap/src/bootstrap.ts
  packages/bootstrap/src/index.ts
  packages/bootstrap/src/run.ts
  packages/bootstrap/tsconfig.build.json
Labels: packages

ci: set working directory
  .github/workflows/test.yml
Labels: none

fix: add missing deps
  packages/logger/package.json
  yarn.lock
Labels: repo, packages

ci: try to make uppercase
  .github/workflows/test.yml
Labels: none

test: update middleware tests
  packages/logger/src/__tests__/logger.middleware.test.ts
  packages/logger/src/logger.middleware.ts
Labels: packages

ci: fix syntax
  .github/workflows/test.yml
Labels: none

ci: update sonar conig
  .github/workflows/test.yml
  packages/bootstrap/sonar-project.properties
  packages/logger/sonar-project.properties
  packages/messages/sonar-project.properties
  packages/pagination/sonar-project.properties
  packages/prisma/sonar-project.properties
  services/users/sonar-project.properties
Labels: packages, services

ci: fix syntax
  .github/workflows/test.yml
Labels: none

ci: find bash version
  .github/workflows/test.yml
Labels: none

ci: remove text transformation
  .github/workflows/test.yml
Labels: none

chore(deps): update yarn to v3.1.1
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: repo

chore(deps): update yarn to v3.1.1
  .yarn/releases/yarn-3.1.1.cjs
  .yarn/releases/yarn-berry.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: repo

chore(deps): update dependency rollup-plugin-exclude-dependencies-from-bundle to v1.1.22
  packages/bootstrap/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/pagination/package.json
  packages/prisma/package.json
  yarn.lock
Labels: repo, packages

chore(deps): update dependency rollup-plugin-exclude-dependencies-from-bundle to v1.1.22
  packages/bootstrap/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/pagination/package.json
  packages/prisma/package.json
  yarn.lock
Labels: repo, packages

chore(deps): update dependency @nestjs/schematics to v8.0.5
  services/users/package.json
  yarn.lock
Labels: repo, services

chore(deps): update dependency @nestjs/schematics to v8.0.5
  services/users/package.json
  yarn.lock
Labels: repo, services

chore(deps): update dependency lint-staged to v11.2.6
  package.json
  yarn.lock
Labels: repo

chore(deps): update dependency lint-staged to v11.2.6
  package.json
  yarn.lock
Labels: repo

ci: add release pipeline
  .github/workflows/release.yml
  package.json
  packages/bootstrap/.releaserc.json
  packages/logger/.releaserc.json
  packages/messages/.releaserc.json
  packages/pagination/.releaserc.json
  packages/prisma/.releaserc.json
  yarn.lock
Labels: repo, packages

chore: use @motech-development scope for package names
  .github/workflows/test.yml
  packages/bootstrap/package.json
  packages/bootstrap/sonar-project.properties
  packages/bootstrap/src/__tests__/bootstrap.test.ts
  packages/bootstrap/src/__tests__/run.test.ts
  packages/bootstrap/src/bootstrap.ts
  packages/bootstrap/src/run.ts
  packages/logger/package.json
  packages/logger/sonar-project.properties
  packages/messages/package.json
  packages/messages/sonar-project.properties
  packages/pagination/package.json
  packages/pagination/sonar-project.properties
  packages/prisma/package.json
  packages/prisma/sonar-project.properties
  services/users/package.json
  services/users/src/api/api.controller.ts
  services/users/src/api/api.module.ts
  services/users/src/main.ts
  services/users/src/service/service.controller.ts
  services/users/src/shared/user/user.module.ts
  services/users/src/shared/user/user.service.ts
  yarn.lock
Labels: repo, packages, services

chore: use @motech-development scope for package names
  .github/workflows/test.yml
  packages/bootstrap/package.json
  packages/bootstrap/sonar-project.properties
  packages/bootstrap/src/__tests__/bootstrap.test.ts
  packages/bootstrap/src/__tests__/run.test.ts
  packages/bootstrap/src/bootstrap.ts
  packages/bootstrap/src/run.ts
  packages/logger/package.json
  packages/logger/sonar-project.properties
  packages/messages/package.json
  packages/messages/sonar-project.properties
  packages/pagination/package.json
  packages/pagination/sonar-project.properties
  packages/prisma/package.json
  packages/prisma/sonar-project.properties
  services/users/package.json
  services/users/src/api/api.controller.ts
  services/users/src/api/api.module.ts
  services/users/src/main.ts
  services/users/src/service/service.controller.ts
  services/users/src/shared/user/user.module.ts
  services/users/src/shared/user/user.service.ts
  yarn.lock
Labels: repo, packages, services

ci: add release pipeline
  .github/workflows/release.yml
  package.json
  packages/bootstrap/.releaserc.json
  packages/logger/.releaserc.json
  packages/messages/.releaserc.json
  packages/pagination/.releaserc.json
  packages/prisma/.releaserc.json
  yarn.lock
Labels: repo, packages

ci: fix pipeline
  .github/workflows/release.yml
Labels: none

ci: fix pipeline
  .github/workflows/release.yml
Labels: none

ci: fix pipeline
  .github/workflows/release.yml
Labels: none

Notes added by 'git notes add'
  4774631423fa9ca553888b628ef31505aa099155
Labels: repo

fix: add publish config
  packages/bootstrap/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/pagination/package.json
  packages/prisma/package.json
Labels: packages

chore: update sonarqube config
  packages/bootstrap/sonar-project.properties
  packages/logger/sonar-project.properties
  packages/messages/sonar-project.properties
  packages/pagination/sonar-project.properties
  packages/prisma/sonar-project.properties
Labels: packages

fix: add publish config
  packages/bootstrap/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/pagination/package.json
  packages/prisma/package.json
Labels: packages

chore: update sonarqube config
  packages/bootstrap/sonar-project.properties
  packages/logger/sonar-project.properties
  packages/messages/sonar-project.properties
  packages/pagination/sonar-project.properties
  packages/prisma/sonar-project.properties
Labels: packages

Notes added by 'git notes add'
  9f2c9c83b8ea9b07bbc920a9c470298c766b3f33
Labels: repo

feat: shared eslint config
  packages/eslint-config-motech-base/.eslintrc.json
  packages/eslint-config-motech-base/.prettierrc.json
  packages/eslint-config-motech-base/index.js
  packages/eslint-config-motech-base/package.json
Labels: packages

chore: use shared eslint package
  .eslintrc.js
  .github/workflows/test.yml
  .husky/pre-commit
  package.json
  packages/bootstrap/.eslintrc.json
  packages/bootstrap/.prettierrc.json
  packages/bootstrap/package.json
  packages/logger/.eslintrc.json
  packages/logger/.prettierrc.json
  packages/logger/package.json
  packages/messages/.eslintrc.json
  packages/messages/.prettierrc.json
  packages/messages/package.json
  packages/pagination/.eslintrc.json
  packages/pagination/.prettierrc.json
  packages/pagination/package.json
  packages/prisma/.eslintrc.json
  packages/prisma/.prettierrc.json
  packages/prisma/package.json
  services/users/.eslintrc.json
  services/users/.prettierrc.json
  services/users/package.json
  tsconfig.eslint.json
  yarn.lock
Labels: repo, packages, services

ci: update pipeline names
  .github/workflows/release.yml
  .github/workflows/test.yml
Labels: none

ci: update pipeline syntax
  .github/workflows/test.yml
  packages/prisma/package.json
Labels: packages

fix: add licenses
  LICENSE.md
  package.json
  packages/bootstrap/package.json
  packages/eslint-config-motech-base/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/pagination/package.json
  packages/prisma/package.json
  services/users/package.json
Labels: repo, packages, services

chore: add more information in package.jsons
  package.json
  packages/bootstrap/package.json
  packages/eslint-config-motech-base/package.json
  packages/logger/package.json
  packages/messages/package.json
  packages/pagination/package.json
  packages/prisma/package.json
  services/users/package.json
Labels: repo, packages, services

.github/labeler.yml:

repo:
  - ./*

packages:
  - packages/**

services:
  - services/**
